<section class="colophon">
  <a href="http://www.mirumagency.com/privacy-policy" target="_blank">Privacy</a> | <a href="http://www.mirumagency.com/terms-conditions" target="_blank">Terms</a> | <a href="http://www.wpp.com/wpp/" target="_blank">A WPP Company</a>
  <section class="copyright">Copyright &copy; 2015 Mirum Singapore</section>
</section>
